# Dependencies
**/node_modules/

# Build outputs
out/
build/
*.obj
*.tlog
*.exe
*.lib
*.dll
*.pdb
*.ilk

# Example files
example/
example/output/lod_output/

extern/

# Backend generated data
backend/uploads/
backend/results/

# Editor
.vscode/
.idea/
*.suo
*.user

src_execution_flow.md

# System
.DS_Store
Thumbs.db

example/output/lod_output/LOD1.glb
example/output/lod_output/LOD2.glb
example/output/lod_output/LOD1.glb
example/output/lod_output/LOD3.glb
